{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <p>
            <a href="{{ path('api_entrypoint') }}">API</a>
        </p>
        <p>
            <a href="{{ path('app_logout') }}">Log Out</a>
        </p>
    {% else %}
        <p>
            <a href="{{ path('app_login') }}">Log In</a>
        </p>
    {% endif %}

{% endblock %}