{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">

        <div class="card">
            <div class="card-body">

                <h1>{{ app_name }}</h1>
                <hr>

                {% if is_granted('ROLE_USER') %}
                    <p>
                        <a href="{{ path('api_entrypoint') }}">API</a>
                    </p>
                    <p>
                        <a href="{{ path('app_logout') }}">Log Out</a>
                    </p>
                {% else %}

                    <div class="row justify-content-md-center">
                        <div class="col col-lg-6">

                            {{ form(form, {'action': path('app_login'), 'method': 'POST'}) }}

                        </div>
                    </div>

                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}